body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



#stage {
  /* min-width: 1000px; */
  max-width: var(--fixed-width);
  position: relative;
}

.search-form {
  margin-left: 33rem;
  position: fixed;
  /* margin-top: 2rem; */
  
  /* padding: 2rem; */
  /* background-color: blue; */
 
}

#search {
  position: absolute;
  font-size: 3rem;  
  width: 50rem;
  border: 5px solid black;

}
form input {
  font-size: 4rem;
  padding: 1rem;
}

.flexer li {
  text-decoration: none;
  font-size: 3rem;
  padding: .2rem;
  color: white;
  text-align: center;
}
li:active {
  text-decoration: underline;
}
li:hover {
  text-decoration: underline;

}

#first {
  margin-left: -8rem;
}

#exercise-list {
  width: 116rem;
  justify-content: center;
}
 #exercise-list-mainframe h2 {
  /* position: absolute; */
  /* margin-top: 5rem; */
  font-size: 4rem;
  margin: 8rem 0 2rem 40rem;
  
}
#exercise-list-mainframe {
  margin-top: 6rem;
  position: absolute;
  width: 116rem;
}
#user {
  margin-left: 25rem;
}


form, h3  {
  margin-left: 40%;
}
table tbody h1 {
  margin: 50% 230%;
}


.create-exercise {
  justify-content: center;
  position: absolute;
  width: 116rem;
  background-color: aqua;
  padding-top: 6rem;
}
.create-exercise form {
  margin-top: 4rem;
  margin-left: 50rem;
  margin-bottom: 1rem;
}

.create-exercise form select {
  font-size: 5rem;
}
.create-exercise h2 {
  position: absolute;
  font-size: 4rem;
  margin: 25rem 0 0 5%;
}
.create-exercise h5 {
  font-size: 4rem;
  position: absolute;
  margin: 34rem 0 2rem 6%;
  width: 35rem;
  color: red;
}


.create-user {
  position: absolute;
  margin-bottom: 4rem;
  background-color: aqua;
  width: 116rem;
  height: 40rem;
  /* margin-top: 5rem; */
  
}
.create-user h2 {
  font-size: 5rem;
  position: absolute;
  margin-top:8rem; 
  width: 40rem;
  margin-left: 35%;

  
}
.create-user form {
  position: absolute;
  margin-top:15rem;
  margin-left: 40rem;
}

.create-user form input {
  width: 30rem;
  font-size: 3rem;
}

.pop {
  background-color: dodgerblue;
  color: white;
  border-style: none;
  padding: 1rem;
  width: 35rem;
  font-size: 3rem;
  border-radius: 5px;
  margin-top: 1rem;
}

#users-list-frame {
  position: absolute;
  width: 116rem;
  margin-bottom: 4rem;
}
#user-table {
  position: relative;
  width: 40rem;
  margin:  2rem 0 10rem 35rem 
}
.user-name {
  width: 90%;
}
.user-list{
  font-size: 5rem;
  margin-top: 8rem;
  margin-left: 45rem;
}
label {
  font-weight: 700;
}
ul {
  margin-bottom: 10rem;
  position: fixed;
  z-index: 10;
  width:  116rem;
  max-width: var(--fixed-width);
  list-style-type: none;
  background-color: teal;
  /* background-color: red; */
  padding: .5rem 0;
  /* justify-content: center; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.deliver {
  background-color: green;
  margin-top: 10rem;
  text-decoration: none;
}

.delete {
  color:dodgerblue;
  background-color: burlywood;
}
.edit {
  color:midnightblue;

}
 
#exercise-table {
  width: 95%;
  margin-left: 2rem;
  margin-bottom: 4rem;
}
#exercise-table tr td{
  border: 1px solid brown;
  font-size: 3rem;
  /* padding: 10px; */
  text-align: center;
}
tr th {
  border: 1px solid brown;
  background-color: skyblue;
  /* border: 1px solid black; */
  padding: 10px;
  font-size: 3rem;
  width: 10rem;
  text-align: center;
}

tr:hover {
  background-color:aquamarine;
}




.delete{
  font-size: 3rem;
  padding: 1rem;
}
.username {
  width: 36%;
  font-size: 3rem;
  padding: 1rem;
}
.description {
  width: 31%;
  font-size: 3rem;
}
.duration {
  width: 2%;
  font-size: 3rem;
}
.date {
  width: 20%;
  font-size: 3rem;
}
.remove {
  font-size: 3rem;
  width: 4%;
  padding: 1rem;
}
.edit {
  font-size: 3rem;
  /* width: 3%; */
  padding: 1rem;
}


#edit-exercise {
  /* position: absolute; */
  background-color: aqua;
  padding: 1rem 0 1rem 0;
  margin-bottom: 1rem;
  /* height: 50rem; */
}
#edit-exercise form {
  /* background-color: aqua; */
  /* position: absolute; */
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.load-user {
  position: absolute;
  font-size: 6rem;
  margin: 35rem 0 0 6rem;
}

label { 
  font-size: 3rem;
}
.section,
.container {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

/* beginin of copy */

@media screen and (min-width: 700px) {
  #stage {
    width: 95vw;
  }
}

.stage {
  text-align: center;
  margin-top: 5rem;
}

.btn:hover {
  background: var(--clr-primary-1);
  color: var(--clr-primary-5);
}


@media screen and (max-width: 576px) {
  #exercise-list-mainframe {
    width: 110rem;
    margin-top: 25rem;
  }
  #exercise-list-mainframe h2 {
    margin-left: 55rem;
    font-size: 5rem;
    width: 50rem;
  }
  
#exercise-table {
  width: 136%;
  margin: 0 2rem;
}
  article {
    position: relative;
  }
  #exercise-table tr td {
    font-size: 4rem;
  }
  #exercise-table tr th {
    
    font-size: 5rem;
  }
  h2 {
      margin-left: 35rem;
      width: 6rem;
  }
  .search-form {
    margin-top: -5rem;
    /* margin-right: 25rem; */
    background-color: aquamarine;
    align-items: center;
  }
  #search {
    /* position: fixed; */
    width: 55rem;
    font-size: 4rem;
    margin-left: -6rem;
    padding: 1rem;
  }
 
ul {
  padding-bottom: 2rem;
  width: 91rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

 
}
li {
  font-size: 4rem;
  /* margin-right: -10rem; */
  width: 5rem;
}
#first {
  margin-left: 1.5rem;
}

#edit-exercise {
  background-color: aqua;
  width: 120rem;
}
#edit-exercise form {
  margin-top: 15rem;
  margin-left: 30%;
  width: 91rem;
  margin-bottom: 10%;
}
#edit-exercise form input {
  font-size: 5rem;
}
.load-user {
  margin-top: 125%;
  margin-left: 15%;
  width: 30rem;
}
.is-done {
  width: 6rem;
}
.create-user{
  background-color: #00ffff;
  /* justify-content: center; */
  width: 116rem;
  height: 70rem;
  margin-bottom: 50rem;
}
.create-user form input {
  font-size: 3rem; 
  width: 48rem;
}
.create-user h2 {
 font-size: 5rem;
 margin-top: 15rem;
 margin-left: 30rem;
 padding-bottom: 5rem;
 margin-bottom: 5rem;
}
label {
  font-size: 5rem;
}
.create-user form {
  margin-left: 25rem;
  padding-top: 10rem;
}
.pop {
  margin-top: 4rem;
  width: 30rem;
  font-size: 4rem;
  padding: 2rem;
}

.create-exercise {
  /* margin-left: 20rem; */
  background-color: aqua;
  width: 100rem;
  
}
.create-exercise h2 {
  font-size: 5rem;
  margin: 10% 0 0 30%;
  width: 50rem;
}
.create-exercise form {

  margin-left: 30%;
  margin-bottom: 10%;
  margin-top: 20rem;
}
.create-exercise form input {
  font-size: 4rem;
  width: 40rem;
}
.create-exercise form select {
  font-size: 5rem;
}
.create-exercise h5 {
  font-size: 4rem;
  margin-top: 17rem;
  margin-left: 30%;
}

#users-list-frame {
  margin-top: 10rem;
  width: 91rem;
}

.description {
  width: 30%;
 }
 #user-table {
  margin-left: 5rem;
  width: 80rem;

 }
 .user-name{
  width: 60rem;
  font-size: 5rem;
  padding: 1rem;
 }

.date {
  width: 20%;
}
.duration {
  width: 5%;
}
.remove  {
  width: 15%;
}
#stage {
  background: var(--clr-white);
  border-radius: var(--radius);
}
#stage {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

}

